body {
    background-color: #ADD8E6;
    font-size: var(--mobile-typography-size-heading-xl, 15px);
    font-weight: var(--typography-font-weight-heading-default, 700);
    letter-spacing: var(--typography-letter_spacing-heading, -1.5);
    line-height: var(--mobile-typography-line_height-heading-xl, 40px);
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a{
    color: black;
    text-decoration: none;
    margin: 1cm;
}

aside{
    padding: 30px;
    float: left;
}

#clear{
    clear: both;
}

main{
    background-color: blue;
    color: blue;
    text-align: right;
    float: right;
    margin: 1cm;
    margin-top: 1cm;
    width: 10cm;
    padding-right: 5cm;
}

.footer { 
    position: absolute; 
    bottom: 0; 
    left: 0; 
}

img{
    width: 50px;
}

