body {
    background-color: #0047AB;
    font-size: var(--mobile-typography-size-heading-xl, 10px);
    font-weight: var(--typography-font-weight-heading-default, 500);
    letter-spacing: var(--typography-letter_spacing-heading, -1.5);
    line-height: var(--mobile-typography-line_height-heading-xl, 40px);
    text-decoration: none;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header{
    background-color: snow;
}

nav{
    color: black;
    background-color: lightsteelblue;
    text-align: center;
}

h1{
    color: red;
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
    margin: 1cm;
}

aside{
    padding: 38px;
    float: left;
}

#clear{
    clear: both;
}

main{
    background-color: black;
    color: darkorange;
    text-align: right;
    float: right;
    margin: 1cm;
    margin-top: 1cm;
    width: 10cm;
    padding-right: 5cm;
}

footer{
    text-align: center;
}



